{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Авторизация</h5>

                        {% if errors %}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error | trans }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form class="form-signin" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-label-group">
                                <input
                                        type="email"
                                        id="inputEmail"
                                        class="form-control"
                                        placeholder="Ваш Email"
                                        required
                                        autofocus
                                        name="email"
                                        value="{{ last_username }}"
                                >
                                <label for="inputEmail">Ваш Email</label>
                            </div>

                            <div class="form-label-group">
                                <input
                                        type="password"
                                        id="inputPassword"
                                        class="form-control"
                                        placeholder="Пароль"
                                        required
                                        name="password"
                                >
                                <label for="inputPassword">Пароль</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="customCheck1"
                                        name="_remember_me"
                                        {{ app.request.request.get('_remember_me') ? 'checked' : '' }}
                                >
                                <label class="custom-control-label" for="customCheck1">Запомнить меня</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Войти</button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a href="{{ path('app_reset_password') }}">Забыли пароль?</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_register') }}">Регистрация</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_reactivate') }}">Повторная активация</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
