{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block title %}BlaBlaArticle - Авторизация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ 'Auth' | trans }}</h5>

                        {% if errors %}
                            {% for error in errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error | trans }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form class="form-signin" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-label-group">
                                <input
                                        type="email"
                                        id="inputEmail"
                                        class="form-control"
                                        placeholder="{{ 'Your Email' | trans }}"
                                        required
                                        autofocus
                                        name="email"
                                        value="{{ last_username }}"
                                >
                                <label for="inputEmail">{{ 'Your Email' | trans }}</label>
                            </div>

                            <div class="form-label-group">
                                <input
                                        type="password"
                                        id="inputPassword"
                                        class="form-control"
                                        placeholder="{{ 'Password' | trans }}"
                                        required
                                        name="password"
                                >
                                <label for="inputPassword">{{ 'Password' | trans }}</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="customCheck1"
                                        name="_remember_me"
                                        {{ app.request.request.get('_remember_me') ? 'checked' : '' }}
                                >
                                <label class="custom-control-label"
                                       for="customCheck1">{{ 'Remember me' | trans }}</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                                    type="submit">{{ 'Login' | trans }}</button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a href="{{ path('app_reset_password') }}">{{ 'Forget password' | trans }}</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_register') }}">{{ 'Register' | trans }}</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_reactivate') }}">{{ 'Activate link' | trans }}</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
