{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Сброс пароля</h5>

                        {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ errors | trans }}
                            </div>
                        {% elseif app.session.flashBag.peek('flash_password_reset') | length > 0 %}
                            <div class="alert alert-success" role="alert">
                                {% for message in app.flashes('flash_password_reset') %}
                                    {{ message | trans }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form_start(passwordResetForm) }}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {{ form_errors(passwordResetForm.plainPassword.first) }}
                            <div class="form-label-group">
                                {{ form_widget(passwordResetForm.plainPassword.first) }}
                                {{ form_label(passwordResetForm.plainPassword.first) }}
                            </div>

                            {{ form_errors(passwordResetForm.plainPassword.second) }}
                            <div class="form-label-group">
                                {{ form_widget(passwordResetForm.plainPassword.second) }}
                                {{ form_label(passwordResetForm.plainPassword.second) }}
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                Сохранить
                            </button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a href="{{ path('app_login') }}">Войти</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_register') }}">Регистрация</a>
                            </div>
                        {{ form_end(passwordResetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
