{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block title %}BlaBlaArticle - Повторная активация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Повторная активация</h5>

                        {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ errors | trans }}
                            </div>
                        {% elseif app.session.flashBag.peek('flash_reactivate') | length > 0 %}
                            <div class="alert alert-success" role="alert">
                                {% for message in app.flashes('flash_reactivate') %}
                                    {{ message | trans }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <form class="form-signin" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-label-group">
                                <input
                                        type="email"
                                        id="inputEmail"
                                        class="form-control"
                                        placeholder="Ваш Email"
                                        required
                                        autofocus
                                        name="email"
                                        value="{{ app.request.request.get('email') }}"
                                >
                                <label for="inputEmail">Ваш Email</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                Активировать
                            </button>
                            <hr class="my-4">
                            <div class="text-center">
                                <a href="{{ path('app_login') }}">Войти</a>
                            </div>
                            <div class="text-center">
                                <a href="{{ path('app_register') }}">Регистрация</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
