{% extends 'base.html.twig' %}

{% block body_class %}signin-body{% endblock %}

{% block title %}BlaBlaArticle - Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Регистрация</h5>
                        {% if app.session.flashBag.peek('flash_register') | length > 0 %}
                            <div class="alert alert-success" role="alert">
                                {% for message in app.flashes('flash_register') %}
                                    <p class="mb-0">{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {{ form_start(registerForm) }}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {{ form_errors(registerForm.firstName) }}
                        <div class="form-label-group">
                            {{ form_widget(registerForm.firstName) }}
                            {{ form_label(registerForm.firstName) }}
                        </div>

                        {{ form_errors(registerForm.email) }}
                        <div class="form-label-group">
                            {{ form_widget(registerForm.email) }}
                            {{ form_label(registerForm.email) }}
                        </div>

                        {{ form_errors(registerForm.plainPassword.first) }}
                        <div class="form-label-group">
                            {{ form_widget(registerForm.plainPassword.first) }}
                            {{ form_label(registerForm.plainPassword.first) }}
                        </div>

                        {{ form_errors(registerForm.plainPassword.second) }}
                        <div class="form-label-group">
                            {{ form_widget(registerForm.plainPassword.second) }}
                            {{ form_label(registerForm.plainPassword.second) }}
                        </div>

                        {{ form_widget(registerForm) }}
                        <hr class="my-4">
                        <div class="text-center">
                            <a href="{{ path('app_login') }}">Я уже зарегистрирован</a>
                        </div>
                        {{ form_end(registerForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
