{% extends 'base_dashboard.html.twig' %}

{% block title %}Создать статью{% endblock %}

{% block h1 %}Создание статьи{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-xl-6">
            {% if isLimitEnded %}
                <div class="alert alert-danger" role="alert">
                    Превышен лимит создания статей, чтобы снять лимит
                    <a href="{{ path('app_subscription') }}">Улучшите подписку</a>
                </div>
            {% endif %}

            {{ form_start(articleForm) }}
                <div class="form-group">
                    <label for="fieldTheme">Тематика</label>
                    <select class="form-control" id="fieldTheme">
                        <option>-</option>
                        <option>Про еду</option>
                        <option>Про PHP</option>
                    </select>
                </div>
                <div class="form-label-group">
                    {{ form_widget(articleForm.title) }}
                    {{ form_label(articleForm.title) }}
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Ключевое слово</p>
                        <div class="form-label-group">
                            {{ form_widget(articleForm.keyword, { full_name: 'keyword[0]' }) }}
                            {{ form_label(articleForm.keyword) }}
                        </div>

                        <div class="form-label-group">
                            <input type="text"
                                   id="article1Word"
                                   name="keyword[1]"
                                   class="form-control"
                                   placeholder="Родительный падеж"
                                   required>
                            <label for="article1Word">Родительный падеж</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text"
                                   id="article2Word"
                                   name="keyword[2]"
                                   class="form-control"
                                   placeholder="Дательный падеж"
                                   required>
                            <label for="article2Word">Дательный падеж</label>
                        </div>


                        <div class="form-label-group">
                            <input type="text"
                                   id="article3Word"
                                   name="keyword[3]"
                                   class="form-control"
                                   placeholder="Винительный падеж"
                                   required>
                            <label for="article3Word">Винительный падеж</label>
                        </div>


                        <div class="form-label-group">
                            <input type="text"
                                   id="article4Word"
                                   name="keyword[4]"
                                   class="form-control"
                                   placeholder="Творительный падеж"
                                   required>
                            <label for="article4Word">Творительный падеж</label>
                        </div>


                        <div class="form-label-group">
                            <input type="text"
                                   id="article5Word"
                                   name="keyword[5]"
                                   class="form-control"
                                   placeholder="Предложный падеж"
                                   required>
                            <label for="article5Word">Предложный падеж</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text"
                                   id="article6Word"
                                   name="keyword[6]"
                                   class="form-control"
                                   placeholder="Множественное число"
                                   required>
                            <label for="article6Word">Множественное число</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-label-group">
                            {{ form_widget(articleForm.sizeFrom) }}
                            {{ form_label(articleForm.sizeFrom) }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-label-group">
                            {{ form_widget(articleForm.sizeTo) }}
                            {{ form_label(articleForm.sizeTo) }}
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <p class="card-title">Продвигаемые слова</p>
                        <div class="row">
                            <div class="col">
                                <div class="form-label-group">
                                    <input type="text"
                                           id="word1Field"
                                           name="wordField[1]"
                                           class="form-control"
                                           placeholder="Продвигаемое слово">
                                    <label for="word1Field">Продвигаемое слово</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-label-group">
                                    <input type="text"
                                           id="word1CountField"
                                           name="wordCountField[1]"
                                           class="form-control"
                                           placeholder="кол-во">
                                    <label for="word1CountField">кол-во</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-label-group">
                                    <input type="text"
                                           id="word2Field"
                                           name="wordField[2]"
                                           class="form-control"
                                           placeholder="Продвигаемое слово">
                                    <label for="word2Field">Продвигаемое слово</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-label-group">
                                    <input type="text"
                                           id="word2CountField"
                                           name="wordCountField[2]"
                                           class="form-control"
                                           placeholder="кол-во">
                                    <label for="word2CountField">кол-во</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    {{ form_label(articleForm.images) }}
                    {{ form_widget(articleForm.images) }}
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" disabled>Создать</button>
            {{ form_end(articleForm) }}
        </div>
    </div>

    <hr>

    {% if article %}
        <h2 class="mt-4">Ваша статья</h2>

        <hr>

        <div class="row">
            <div class="col-xl-6">
                <h1 class="mt-4">Тестовая статья</h1>
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/250x250" width="250" height="250" alt="">
                    <div class="media-body">
                        <p>Lorem Ipsum <b>EXAMPLE</b> dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. <b>EXAMPLE</b> Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore <b>EXAMPLE</b> magna <b>EXAMPLE</b> aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex <b>EXAMPLE</b> ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit <b>EXAMPLE</b>, sed do eiusmod tempor
                            incididunt ut labore et dolore magna <b>EXAMPLE</b> aliqua. </p>
                        <p>Lorem Ipsum dolor sit amet, consectetur <b>EXAMPLE</b> adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore <b>EXAMPLE</b> magna <b>EXAMPLE</b> aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex <b>EXAMPLE</b> ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-body">
                        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad <b>EXAMPLE</b> minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum.</p>
                    </div>
                    <img class="ml-3" src="https://via.placeholder.com/250x250" width="250" height="250" alt="">
                </div>

                <h3>Eheu, domina!</h3>
                <p><b>EXAMPLE</b> Lorem Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
